/*
===========================================
Default Values:


Font Family: Roboto Condesed

Greenish Blue: #34c6d3
Steel Gray: #41464b
Blue Bayoux: #64707b
White: #fff
Black: #000


===========================================*/

/* General CSS */
html, body {
    height: 100%;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #41464b;
}
h3 {
    text-transform: uppercase;
}

/*
===========================================
                HOME
===========================================*/
#home {
    height: 100%;
}
#home-cover {
    height: 100%;
    background-image: url('../img/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}
#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}
#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}
