/*
===========================================
Default Values:


Font Family: Roboto Condesed

Greenish Blue: #34c6d3
Steel Gray: #41464b
Blue Bayoux: #64707b
White: #fff
Black: #000


===========================================*/

/* General CSS */
html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #41464b;
}

h3 {
  text-transform: uppercase;
}


/*
===========================================
                HOME
===========================================*/
#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url('../img/bg-home.jpg');
 }

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
/*
===========================================
                PARALAX (Generic)
===========================================*/

.bg-paralax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*
===========================================
                BUTTONS (Generic)
===========================================*/
.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover, .btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

/*
===========================================
                ANIMATE
===========================================*/
#home-cover {
  animation-delay: .1s;
  animation-duration: .5s;
}
#home-heading {
  animation-delay: .5s;
  animation-duration: .5s;
}
#home-btn {
  animation-delay: 1s;
  animation-duration: .5s;
}

/*
===========================================
                CONTENT (Generic)(Services)
===========================================*/
.content-box {
  padding: 60px 0 60px 0;
}
.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: #34c6d3;
  margin: 0 auto 30px;
}
/*
===========================================
                SERVICES (Main)
===========================================*/
.service-item {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.service-item-icon i {
  color: #34c6d3;
  float: left;
  padding: 15px;
  margin-right: 25px;
  width: 75px;
  height: 75px;
  text-align: center;
}
.service-item:hover .service-item-icon i {
  color: #fff;
  background-color: #34c6d3;
}